<div class="organize">
    <input type="checkbox" id="organize" name="organize"/>
    <a href="{{ items.sorganiser.url }}" for="organize">
        <i class="icon_nav i-bars"></i>
        <span>S'organiser</span>
    </a>

    <div class="bubble">
        <i class="graphicElement"></i>
        <div class="shadow-sm">
            <a href="{{ items.sorganiser.savourer.url }}">Savourer</a>
            <a href="{{ items.sorganiser.bouger.url }}">Bouger</a>
            <a href="{{ items.sorganiser.sejourner.url }}">Séjourner</a>
        </div>
        <i class="graphicElement"></i>
    </div>
</div>
