<!--social-->
<div class="social">
    <input type="checkbox" id="social" name="social"/>
    <a href="#" for="social">
        <i class="fas fa-share-alt"></i>
        <i class="fas fa-times fs-basic"></i>
    </a>
    <a href="https://www.facebook.com/VisitMarcheenfamenne">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
        <i class="fab fa-youtube"></i>
    </a>
</div>
