
{% for tarif in offre.tarifs %}
    <p>{{ tarif.value|raw }}</p><br/>
{% endfor %}

<h3 class="mb-2 mt-2"><strong>Renseignements</strong></h3>


{% if offre.homepage is defined %}
    <p><strong>Site web:</strong>  <a href="{{ offre.homepage }}">{{ offre.homepage }}</a></p>
{% endif %}

