{% for url in offre.images %}
    <a href="{{ url }}" rel="groupbottin" class="img-fluid img-thumbnail img-lightGallery">
        <img style="max-width: 250px; max-height: 150px;margin-top: 10px;" src="{{ url }}"
             alt="alt"
             class="alignLeft"/>
    </a>
{% endfor %}
