
    <div class="bg-img-home">
        <div class="bg-gradient-home col-12 mx-auto px-24px py-150px pt-ls-66px pb-ls-108px pt-ls-sm-88px pb-ls-sm-135px pt-ls-md-99px pb-ls-md-150px text-center pb-md-195px pt-ls-xl-241px pb-ls-xl-220px">
            <h1 class="pb-22px shadow-text-sm">Découvrez <br class="d-ls-md-none d-md-none">Marche-en-Famenne</h1>
            <form action="post" class="mw-550px position-relative m-auto searchHome">
                <input type="search" placeholder="Que cherchez-vous ?"
                       class="border-0 rounded-pill h-42px pl-16px pr-58px fs-short-3">
                <button class="position-absolute top-0 bottom-0 right-0 w-42px d-flex justify-content-center align-items-center p-0 border-0 rounded-right-pill bg-transparent icon_custom">
                    <i class="i-search i-dark-grey"></i>
                </button>
                <div class="bubble d-ls-lg-none d-lg-none">
                    <i class="graphicElement"></i>
                    <h3 class="text-default">Suggestions</h3>
                    <ul>
                        <li class="col-ls-6"><a href="#" class="icon_custom text-default"><i class="i-patrimony"></i>Patrimoine</a>
                        </li>
                        <li class="col-ls-6"><a href="#" class="icon_custom text-default"><i class="i-arts"></i>Arts</a>
                        </li>
                        <li class="col-ls-6"><a href="{{ template_directory }}/assets/tartine/" class="icon_custom text-default"><i class="i-walks"></i>Balades</a>
                        </li>
                        <li class="col-ls-6"><a href="#" class="icon_custom text-default"><i class="i-delicaties"></i>Gourmandises</a>
                        </li>
                        <li class="col-ls-6"><a href="category.html" class="icon_custom text-default"><i
                                        class="i-parties"></i>Fêtes</a></li>
                    </ul>
                    <i class="graphicElement"></i>
                </div>
            </form>

            <!--visible from landscape&&large / large-->
            <ul class="d-none d-ls-lg-flex d-lg-flex flex-wrap justify-content-center mw-456px pt-42px mx-auto
                   ">
                <li class="w-20">
                    <a href="#" class="icon_custom cat-pat">
                        <!--version_bis : bg-size-32px-->
                        <i class=" d-block w-54px h-54px shadow-sm-2 mx-auto rounded-circle i-patrimony i-bg-primary i-bg-hover-cat-pat i-white i-bg-color-transition bg-size-28px"></i>
                        <span class="d-inline-block text-white fs-short-3 lh-150 pt-6px ff-semibold shadow-text-sm">Patrimoine</span>
                    </a>
                </li>
                <li class="w-20">
                    <a href="#" class="icon_custom cat-art">
                        <i class=" d-block w-54px h-54px shadow-sm-2 mx-auto rounded-circle i-arts i-bg-primary i-bg-hover-cat-art i-white i-bg-color-transition bg-size-32px"></i>
                        <span class="d-inline-block text-white fs-short-3 lh-150 pt-6px ff-semibold shadow-text-sm">Arts</span>
                    </a>
                </li>
                <li class="w-20">
                    <a href="{{ template_directory }}/assets/tartine/" class="icon_custom cat-wal">
                        <!--version_bis : bg-size-32px-->
                        <i class=" d-block w-54px h-54px shadow-sm-2 mx-auto rounded-circle i-walks i-bg-primary i-bg-hover-cat-wal i-white i-bg-color-transition bg-size-28px"></i>
                        <span class="d-inline-block text-white fs-short-3 lh-150 pt-6px ff-semibold shadow-text-sm">Balades</span>
                    </a>
                </li>
                <li class="w-20">
                    <a href="#" class="icon_custom cat-del">
                        <i class=" d-block w-54px h-54px shadow-sm-2 mx-auto rounded-circle i-delicaties i-bg-primary i-bg-hover-cat-del i-white i-bg-color-transition bg-size-32px"></i>
                        <span class="d-inline-block text-white fs-short-3 lh-150 pt-6px ff-semibold shadow-text-sm">Gourmandises</span>
                    </a>
                </li>
                <li class="w-20">
                    <a href="category.html" class="icon_custom cat-par">
                        <!--version_bis : bg-size-32px-->
                        <i class=" d-block w-54px h-54px shadow-sm-2 mx-auto rounded-circle i-parties i-bg-primary i-bg-hover-cat-par i-white i-bg-color-transition bg-size-28px"></i>
                        <span class="d-inline-block text-white fs-short-3 lh-150 pt-6px ff-semibold shadow-text-sm">Fêtes</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
