<!--categories | TODO JF: branchement des filtres | TODO TIBY: Voir pour tenter un branchement simulé-->
{% if children|length > 0 %}
    <ul class="cat-filters d-md-flex mw-648px flex-wrap justify-content-center align-items-center d-none mx-auto">
        {% for child in children %}
            <li class="px-0 position-relative">
                <a href="{{ child.url }}" class="py-4px px-12px fs-short-2 ff-semibold transition-color">
                    {{ child.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
