   <!--CONTENT-->
        <section id="content" class="pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0">

            <!--INSPIRATIONS_BG-->
            <div class="bg-img-inspirations">
                <div class="bg-gradient-img d-flex flex-column justify-content-end align-items-start h-100 px-24px px-xl-48px pb-24px position-relative">

                    <!--back | TODO JF: lien dynamique vers la page précédente-->
                    <a href="/" class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour à l'accueil</a>

                    <!--title-->
                    <h2 class="text-white lh-100">Inspirations</h2>
                </div>
            </div>

            <!--INSPIRATIONS-->
            <div class="bg-white pb-36px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column align-items-xl-center">

                <!--inspirations-->
                <div class="pt-40px d-flex mx-n15px flex-wrap mw-1440px">
                    <!--OBJECT | RECOM-->
                    <div class="col-12 col-md-6">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-1 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Les plus belles balades à vélo</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-none d-md-block">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-4 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Fête du matoufé</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-2 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Le patrimoine mis à l'honneur</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-none d-md-block">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-5 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Marche 1900</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-3 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Exposition du FAM : Le savoir-faire marchois</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-none d-md-block">
                        <div class="object-recom py-8px">
                            <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                                <i class="bg-img-inspi-6 w-104px w-xl-136px h-104px h-xl-136px">
                                    <b class="bg-img-bgcolor-hover-primary-55"></b>
                                </i>
                                <div class="col">
                                   <span class="pt-0 text-default fs-short-2 ellipsis">Les randonnées mises à l'honneur</span>
                                   <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero provident veritatis eius, nostrum eos, explicabo repudiandae laborum rerum magni, nesciunt nemo quod tenetur omnis dolorum facilis illum. Obcaecati, nobis, a...</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- TODO JF: à brancher -->
                <a href="#" class="button lvl3 mt-12px align-self-ls-md-center align-self-md-center position-relative left-0 d-flex justify-content-center">Charger plus d'éléments<i class="fas fa-angle-down d-ls-md-inline pl-8px pl-md-12px fs-basic d-md-inline"></i></a>
            </div>
        </section>
