<h4 class="text-success" style="font-size: 1rem;">{{ 'Equipements'|trans }}</h4>
<hr>
{% for specInfo in offre.specsDetailed %}
    {% if specInfo.specData.urnCat is defined %}
        {% if specInfo.specData.urnCat == "urn:cat:eqpsrv" %}
            <p><strong>{{ specInfo.specDefinition.labelByLanguage('fr') }}</strong></p>
            <div class="text-success" style="font-size: 15px; line-height: 1rem;">{{ specInfo.specData.value }}</div>
            <br/><br/>
        {% endif %}
    {% endif %}
{% endfor %}