 <!--INTRO-->
    <div class="bg-pastel pt-0 px-24px text-center d-ls-md-flex mx-ls-md-n15px px-xl-48px mx-xl-n30px justify-content-md-center flex-column align-items-center position-relative pb-48px">
        <img src="{{ template_directory }}/assets/tartine/rsc/img/img_personnality.png" alt="image marche a du caractere"
             class="w-75 mw-304px mw-ls-220px mw-ls-lg-304px mt-n40px mt-md-n48px mt-xl-n56px">
        <p class="mw-800px fs-basic pt-32px text-default text-left text-lg-center">Au coeur de la nature se niche
            Marche-en-Famenne, une ville de caratère qui conjugue esprit artistique, charme et bonne humeur. On choisit
            Marche pour se détendre quelques jours ou partir à l'aventure. Voici quelques inspirations pour organiser
            votre séjour lors de votre prochaine pause.</p>
    </div>
