 <!--inpirations-->
        <div class="px-0 col-md-8 d-md-flex flex-md-column px-md-15px col-ls-md-8 d-ls-md-flex flex-ls-md-column px-xl-30px mw-896px">
            <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">Idées de séjour et inspirations</h2>
            <ul class="pt-24px pt-ls-md-32px pt-md-32px d-ls-flex flex-ls-wrap mx-ls-n4px d-md-flex flex-md-wrap mx-md-n4px">

                <li class="px-0 w-md-100 col-12 col-ls-6 col-md-6 col-lg-8 col-ls-lg-8 px-ls-4px px-md-4px">
                    <a href="#"
                       class="d-flex shadow-sm-1 border border-width-1px rounded-xs bg-img overflow-hidden h-214px h-md-206px h-ls-md-210px h-ls-lg-214px">
                        <i class="w-100 p-0 bg-img-inspi-1 position-relative bg-img-size-hover-110 transition-all">
                            <b class="bg-gradient-img-90 d-block position-absolute top-0 bottom-0 left-0 right-0"></b>
                            <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                        </i>
                        <h3 class="text-white position-absolute z-10 shadow-text-sm pt-16px px-24px text-left lh-150 fs-big-1">
                            Les plus belles balades en vélo</h3>
                    </a>
                </li>
                <li class="pt-8px pt-md-0 pt-ls-0 px-0 w-md-100 col-12 col-md-6 col-lg-4 col-ls-6 col-ls-lg-4 px-ls-4px px-md-4px">
                    <a href="#"
                       class="d-flex shadow-sm-1 border border-width-1px rounded-xs bg-img overflow-hidden h-214px h-md-206px h-ls-md-210px h-ls-lg-214px">
                        <i class="w-100 p-0 bg-img-inspi-4 position-relative bg-img-size-hover-160 transition-all">
                            <b class="bg-gradient-img-90 d-block position-absolute top-0 bottom-0 left-0 right-0"></b>
                            <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                        </i>
                        <h3 class="text-white position-absolute z-10 shadow-text-sm pt-16px px-24px text-left lh-150 fs-big-1">
                            Un parc communal sans pareil</h3>
                    </a>
                </li>
                <li class="pt-8px px-0 w-md-100 col-12 col-md-6 col-lg-4 col-ls-6 col-ls-lg-4 px-ls-4px px-md-4px">
                    <a href="#"
                       class="d-flex shadow-sm-1 border border-width-1px rounded-xs bg-img overflow-hidden h-214px h-md-206px h-ls-md-210px h-ls-lg-214px">
                        <i class="w-100 p-0 bg-img-inspi-2 position-relative bg-img-size-hover-130 transition-all">
                            <b class="bg-gradient-img-90 d-block position-absolute top-0 bottom-0 left-0 right-0"></b>
                            <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                        </i>
                        <h3 class="text-white position-absolute z-10 shadow-text-sm pt-16px px-24px text-left lh-150 fs-big-1">
                            Le patrimoine mis à l'honneur</h3>
                    </a>
                </li>
                <li class="pt-8px px-0 w-md-100 col-12 col-md-6 col-lg-8 col-ls-6 col-ls-lg-8 px-ls-4px px-md-4px">
                    <a href="#"
                       class="d-flex shadow-sm-1 border border-width-1px rounded-xs bg-img overflow-hidden h-214px h-md-206px h-ls-md-210px h-ls-lg-214px">
                        <i class="w-100 p-0 bg-img-inspi-3 position-relative bg-img-size-hover-110 transition-all">
                            <b class="bg-gradient-img-90 d-block position-absolute top-0 bottom-0 left-0 right-0"></b>
                            <b class="d-block position-absolute top-0 bottom-0 left-0 right-0 bg-img-bgcolor-primary-0 bg-img-bgcolor-hover-primary-55 bg-img-transition-bgcolor"></b>
                        </i>
                        <h3 class="text-white position-absolute z-10 shadow-text-sm pt-16px px-24px text-left lh-150 fs-big-1">
                            Expositions au FAM :<br>Le savoir faire marchois</h3>
                    </a>
                </li>
            </ul>

            <a href="inspirations.html"
               class="button lvl3 mt-12px align-self-ls-md-end align-self-md-end position-relative left-0 left-hover-12px">Toutes
                les expériences<i class="fas fa-angle-right d-none d-ls-md-inline pl-12px fs-basic d-md-inline"></i></a>
        </div>
