<!--CONTENT-->
<section id="content" class="pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0">

    <!--ENJOY_BG-->
    <div class="bg-img-enjoy">
        <div class="bg-gradient-img d-flex flex-column justify-content-end align-items-start h-100 px-24px px-xl-48px pb-24px position-relative">

            <!--back | TODO JF: lien dynamique vers la page précédente-->
            <a href="/"
               class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                        class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>Retour à
                l'accueil</a>

            <!--title-->
            <h2 class="text-white lh-100">{{ title }}</h2>
        </div>
    </div>

    <!--ENJOY-->
    <div class="bg-white pt-40px pb-36px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column align-items-center">

        {% include 'hebergement/_filtres.html.twig' %}

        <!--list-->
        <ul class="pt-24px pt-md-32px d-md-flex flex-md-wrap mx-md-n4px mx-lg-n8px object-cardsList mw-1440px">

        </ul>

        <a href="#"
           class="button lvl3 mt-20px align-self-ls-md-center align-self-md-center position-relative left-0 d-flex justify-content-center">Charger
            plus d'éléments<i class="fas fa-angle-down d-ls-md-inline pl-8px pl-md-12px fs-basic d-md-inline"></i></a>
    </div>
</section>
