<a href="{{ offre.url }}" class="bg-img rounded-xs">
    {% include 'category/pivot/_image.html.twig' %}
    <div class="col py-18px pl-28px pr-14px text-left lh-0 px-lg-16px">

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        <h3 maxlenght="0">{{ offre.nom }}</h3>

        <!--TODO JF: placer la limite de caractère pour l'ellipsis-->
        {% if offre.description %}
            <p maxlenght="170">
                {{ offre.description|remove_html|u.truncate(170, '...') }}
            </p>
        {% endif %}

        <span class="text-primary">
                {% for tag in offre.tags %}
                    {{ tag }}
                {% endfor %}
            </span>
    </div>
</a>
