<!--CONTENT-->
<div class="wrap"><h2>Les filtres</h2>
    <a href="{{ currentUrl }}?notempty=true"><p>Ne pas afficher les catégories vides</p></a>
    <table class="wp-list-table widefat fixed striped table-view-list toplevel_page_pivot_list">
        <tr>
            <th scope="col" id="booktitle" class="manage-column column-booktitle column-primary">
                Lvl1
            </th>
            <th scope="col" id="booktitle" class="manage-column column-booktitle column-primary">
                Lvl2
            </th>
            <th scope="col" id="booktitle" class="manage-column column-booktitle column-primary">
                Numéro pivot
            </th>
            <th scope="col" id="booktitle" class="manage-column column-booktitle column-primary">
                Count
            </th>
        </tr>
        {% for root in filters %}
            {% include 'offre/_line.html.twig' %}
        {% endfor %}
    </table>
</div>