@charset "UTF-8";
/*@mixin boxShadow($dataFrom, $dataTo) {
	-webkit-box-shadow: $dataFrom, $dataTo !important;
	-moz-box-shadow: $dataFrom, $dataTo !important;
	-ms-box-shadow: $dataFrom, $dataTo !important;
	-o-box-shadow: $dataFrom, $dataTo !important;
	box-shadow: $dataFrom, $dataTo !important;
}*/
@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*@keyframes echo-active {
	0% {
		@include boxShadow(0 0 0 rgba(255, 136, 27, 0), 0 0 0 rgba(255, 136, 27, 0));
	}
	25% {
		@include boxShadow(0 0 11px rgba(255, 136, 27, 1), 0 0 8px rgba(255, 136, 27, .5));
	}
	50% {
		@include boxShadow(0 0 22px rgba(255, 136, 27, .5), 0 0 11px rgba(255, 136, 27, .3));
	}
	100% {
		@include boxShadow(0 0 99px rgba(255, 136, 27, 0), 0 0 55px rgba(255, 136, 27, 0));
	}
}*/
@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes roll-coordinated-reverse {
  0% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
  }
  100% {
    bottom: -2px;
    right: 0;
    -webkit-transform: rotate(-1800deg);
    -moz-transform: rotate(-1800deg);
    -ms-transform: rotate(-1800deg);
    -o-transform: rotate(-1800deg);
    transform: rotate(-1800deg);
  }
}
/* VARIABLES */
/*- ONLY FOR THIS PROJECT -*/
/*- END | ONLY FOR THIS PROJECT -*/
/*56pt / 84px*/
/*28pt / 37px*/
/*22pt / 30px*/
/*.75rem*/
/*.688rem*/
/* --------------------------- */
/* MIXINS */
/*@mixin highestBoxShadow() {
	@include boxShadow(0 19px 38px rgba($darkestGrey, $alpha30), 0 15px 12px rgba($darkestGrey, .22));
}

@mixin higherBoxShadow() {
	@include boxShadow(0 14px 28px rgba($darkestGrey, .25), 0 10px 10px rgba($darkestGrey, .22));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin higherBoxShadow-45() {
	@include boxShadow(14px 14px 28px rgba($darkestGrey, .25), 10px 10px 10px rgba($darkestGrey, .22));
}
@mixin higherBoxShadow-315() {
	@include boxShadow(-14px 14px 28px rgba($darkestGrey, .25), -10px 10px 10px rgba($darkestGrey, .22));
}*/
/*@mixin highBoxShadow() {
	@include boxShadow(0 1rem 3rem rgba(0, 0, 0, .175), 0 1rem 3rem rgba(0, 0, 0, .175));
}

@mixin basicBoxShadow() {
	@include boxShadow(0 .5rem 1rem rgba(0, 0, 0, .15), 0 .5rem 1rem rgba(0, 0, 0, .15));
}

@mixin lowestBoxShadow() {
	@include boxShadow(0 .125rem .25rem rgba(0, 0, 0, .075), 0 .125rem .25rem rgba(0, 0, 0, .075));
}
// (utliser pour les éléments qui ont un attribut de rotation)
@mixin lowestBoxShadow-45() {
	@include boxShadow(.125rem .125rem .25rem rgba(0, 0, 0, .075), .125rem .125rem .25rem rgba(0, 0, 0, .075));
}
@mixin lowestBoxShadow-315() {
	@include boxShadow(-.125rem .125rem .25rem rgba(0, 0, 0, .075), -.125rem .125rem .25rem rgba(0, 0, 0, .075));
}*/
/*@mixin lowestBoxShadow-inset() {
	@include boxInset(0 -1px 3px rgba($darkestGrey, .12), 0 -1px 2px rgba($darkestGrey, .24));
}

@mixin buttonInset() {
	@include boxInset(-12px 0 33px rgba($darkCTA, $alpha0));
}

@mixin buttonInsetHover() {
	@include boxInset(-12px 0 33px $darkCTA);
}*/
/* EXTENDS */
/* HEADER */
header {
  max-width: 1920px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  width: 100%;
}
@media screen and (orientation: landscape) {
  header {
    width: calc(100% - 42px);
    left: 42px;
  }
}
@media screen and (orientation: landscape) and (min-width: 992px) {
  header {
    width: 100%;
    left: 0;
  }
}
header.version_b > div > div.language a {
  color: #636061;
}
header > div {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  /* ------- */
  /* - NAV - */
  /* ------- */
}
@media screen and (min-width: 1200px) {
  header > div {
    padding-right: 3rem;
  }
}
header > div > a {
  flex-grow: 1;
  height: 60px;
  padding: 12px 1.5rem;
}
@media screen and (orientation: landscape) {
  header > div > a {
    adding: 6px 1.5rem 6px 9px;
  }
}
@media screen and (min-width: 768px) {
  header > div > a {
    padding: 3px 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  header > div > a {
    flex-grow: none;
    height: 88px;
    padding: 24px 3rem;
  }
}
header > div > a > img {
  height: 100%;
  /*@media screen and (min-width: $md) {
      width: 18px;
  }*/
}
header > div > div {
  text-align: right;
}
@media screen and (min-width: 1200px) {
  header > div > div {
    display: flex;
    justify-content: flex-end;
    height: 42px;
    align-items: center;
  }
}
header > div > div.language {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 0;
}
@media screen and (min-width: 1200px) {
  header > div > div.language {
    padding-left: 3rem;
  }
  header > div > div.language:hover > .bubble {
    opacity: 0;
    top: auto;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}
header > div > div.language input[type=checkbox] {
  width: 50px;
  height: 25px;
  z-index: 20;
}
@media screen and (min-width: 1200px) {
  header > div > div.language input[type=checkbox]:hover + a {
    background-color: #fd8383;
    color: white;
    text-shadow: 0 0 0 rgba(5, 0, 50, 0);
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}
header > div > div.language input[type=checkbox]:checked + a {
  background-color: #fd8383;
  color: white;
  text-shadow: 0 0 0 rgba(5, 0, 50, 0);
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox]:checked + a + .bubble {
  height: 66px;
  top: calc(100% + 7px);
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  header > div > div.language input[type=checkbox]:checked + a + .bubble {
    top: 100%;
  }
}
header > div > div.language input[type=checkbox]:checked + a + .bubble .graphicElement {
  top: -5px;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox]:checked + a + .bubble div {
  display: flex;
  flex-direction: column;
  height: 66px;
}
header > div > div.language input[type=checkbox] + a + .bubble {
  top: 0;
  width: 49px;
  height: 24px;
  left: auto;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox] + a + .bubble .graphicElement {
  top: 1px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox] + a + .bubble div {
  height: 24px;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox] + a + .bubble div a {
  display: block;
  border-radius: 0;
  font-size: 0.75rem;
  background-color: white;
  color: #636061;
  text-shadow: none;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox] + a + .bubble div a:hover {
  color: #fd8383;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
header > div > div.language input[type=checkbox] + a + .bubble div a:first-child {
  border-radius: 4px 4px 0 0;
}
header > div > div.language input[type=checkbox] + a + .bubble div a:last-child {
  border-radius: 0 0 4px 4px;
}
header > div > div.language a {
  margin: 0;
  width: 50px;
  height: auto;
  padding: 5px 0;
  border-radius: 4px;
  background: none;
  color: white;
  font-family: "montserratsemibold";
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(5, 0, 50, 0.12), 0 1px 2px rgba(5, 0, 50, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div.language a i {
  padding-left: 6px;
  padding-right: 0;
}
header > div > div.social {
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-left: 0.75rem;
}
@media screen and (min-width: 1200px) {
  header > div > div.social {
    width: auto;
    height: auto;
    text-align: right;
    margin-left: 0;
  }
}
header > div > div.social input[type=checkbox] {
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}
@media screen and (min-width: 1200px) {
  header > div > div.social input[type=checkbox] {
    display: none;
  }
}
header > div > div.social input[type=checkbox]:checked + a {
  background-color: white;
  color: #fd8383;
}
header > div > div.social input[type=checkbox]:checked + a:first-of-type i.fa-share-alt {
  display: none;
}
header > div > div.social input[type=checkbox]:checked + a:first-of-type i.fa-times {
  display: block;
}
header > div > div.social input[type=checkbox]:checked + a + a {
  top: 32px;
}
header > div > div.social input[type=checkbox]:checked + a + a + a {
  top: 64px;
}
header > div > div.social input[type=checkbox]:checked + a + a + a + a {
  top: 96px;
}
header > div > div.social input[type=checkbox]:checked + a + a + a + a + a {
  top: 128px;
}
header > div > div.social input[type=checkbox] + a,
header > div > div.social input[type=checkbox] + a + a,
header > div > div.social input[type=checkbox] + a + a + a,
header > div > div.social input[type=checkbox] + a + a + a + a,
header > div > div.social input[type=checkbox] + a + a + a + a + a {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -ms-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
@media screen and (min-width: 1200px) {
  header > div > div.social input[type=checkbox] + a,
header > div > div.social input[type=checkbox] + a + a,
header > div > div.social input[type=checkbox] + a + a + a,
header > div > div.social input[type=checkbox] + a + a + a + a,
header > div > div.social input[type=checkbox] + a + a + a + a + a {
    position: relative;
    margin-left: 11px;
  }
}
header > div > div.social input[type=checkbox] + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a + a + a:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  header > div > div.social input[type=checkbox] + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a + a:first-of-type,
header > div > div.social input[type=checkbox] + a + a + a + a + a:first-of-type {
    display: none;
  }
}
header > div > div.social input[type=checkbox] + a:first-of-type i.fa-share-alt,
header > div > div.social input[type=checkbox] + a + a:first-of-type i.fa-share-alt,
header > div > div.social input[type=checkbox] + a + a + a:first-of-type i.fa-share-alt,
header > div > div.social input[type=checkbox] + a + a + a + a:first-of-type i.fa-share-alt,
header > div > div.social input[type=checkbox] + a + a + a + a + a:first-of-type i.fa-share-alt {
  display: block;
  position: relative;
  left: -1px;
}
header > div > div.social input[type=checkbox] + a:first-of-type i.fa-times,
header > div > div.social input[type=checkbox] + a + a:first-of-type i.fa-times,
header > div > div.social input[type=checkbox] + a + a + a:first-of-type i.fa-times,
header > div > div.social input[type=checkbox] + a + a + a + a:first-of-type i.fa-times,
header > div > div.social input[type=checkbox] + a + a + a + a + a:first-of-type i.fa-times {
  display: none;
}
header > div > div > a {
  color: #636061;
  background-color: white;
  margin-left: 11px;
  padding: 5px 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div > a:hover {
  color: white;
  background-color: #fd8383;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header > div > div > a > i {
  padding: 0 0.25rem;
  font-size: 0.825rem;
}

/*# sourceMappingURL=header.css.map */
